.questionsList {
  background-color: #20314c;
  /* height: 35.2vh; */
  padding: 20px;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.qube {
  margin-top: 10px;
}

.element {
 background-color: cyan;
 margin: 10px;
 padding: 10px;
}
.cubeNumber: {
 text-align: center;
}
